/* ====== GLOBAL CSS START ===== */
*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}
/* ====== GLOBAL CSS END ===== */
/* ====== COMMON CSS START ===== */
.common-button a {
    text-decoration: none;
    color: #1B1C2B;
    background: #FCD980;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    padding: 16px 56px;
    border: 1px solid transparent;
    border-radius: 41px;
    display: inline-block;
    transition: all 0.3s ease;
  }
  
  .common-button a:hover {
    color: white;
    background: transparent;
    border-color: #BBBBCB;
  }
  
  a {
    text-decoration: none;
  }
  
  h2 {
    font-size: 48px;
    font-weight: 600;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }

  h3 {
    font-size: 38px;
    font-weight: 600;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }

  h5 {
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }
  .f18{
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }

  /* ====== COMMON CSS END ===== */
  
  
  /* ====== NAVBAR START ===== */
  .maruf {
    background: #1C1E53 !important;
    padding: 16px 0;
  }
  
  .navbar-nav {
    column-gap: 32px;
  }
  
  .nav-link {
    padding: 0 !important;
    margin: 0 !important;
    color: #BBBBCB;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .navbar-button a {
    text-decoration: none;
    color: white;
    background: transparent;
    font-size: 16px;
    padding: 16px 48px;
    border: 1px solid white;
    border-radius: 41px;
    margin-left: 48px;
    transition: all 0.3s ease;
  }
  
  .navbar-button a:hover {
    background: #FCD980;
    border-color: transparent;
    color: #1B1C2B;
  }
  /* ===== NAVBAR END ===== */
  
  
  /* ===== BANNER START ===== */
  .banner {
    background: #1C1E53;
    padding: 128px 0;
  }
  
  .banner h1 {
    font-size: 54px;
    font-weight: 600;
    line-height: 74px;
    color: white;
    margin-bottom: 24px;
  }
  
  .banner p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 48px;
    color: white;
  }
  
  .pricing-button {
    position: relative;
  }
  
  .pricing-button a {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 40px;
    position: relative;
    display: inline-block;
  }
  
  .pricing-button a:hover {
    color: #FCD980;
  }
  
  .pricing-button i {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.4s ease;
  }
  
  .pricing-button:hover i {
    left: calc(100% + 10px);
    opacity: 1;
  }
  /* ===== BANNER END ===== */
  
  
  /* ===== WORK START ===== */
  .work-section {
    padding: 128px 0;
    background: #F4F6FC;
  }
  
  .work-section p {
    font-size: 16px;
    font-weight: 500;
    color: #282938;
    line-height: 28px;
  }
  
  .work-section a {
    color: #2405F2;
    position: relative;
    font-weight: 500;
    transition: 0.3s ease;
  }
  
  .work-section a:hover {
    color: #1B1C2B;
  }
  
  .work-section a i {
    padding-left: 16px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
  }
  
  .work-section a:hover i {
    left: 100px;
    opacity: 1;
  }
  
  .hww-boxs {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px 0;
  }
  
  .hww-box {
    width: 50%;
    padding-right: 16px;
  }
  
  .hww-box h4 {
    padding: 16px 0 8px 0;
  }
  /* ===== WORK END ===== */
  
  
  /* ===== PROJECT SECTION ===== */
  .project-section {
    padding-top: 128px;
    padding-bottom: 64px;
  }
  
  .hww-box20 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-section a {
    color: #1B1C2B;
    font-size: 15px;
    font-weight: 500;
  }
  /* ===== PROJECT SECTION END ===== */
  
  
  /* ===== PROJECTO SECTION START ===== */
  .projecto-section{
    padding-bottom: 128px;
  }
  .projecto-section .plone {
    position: relative;
    overflow: hidden;
  }
  
  .projecto-section .plone .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    opacity: 0;
    background: linear-gradient(to bottom right, #1C1E53, rgba(28, 30, 83, 0.42));
    transition: all 0.3s ease;
    z-index: 2;
    display: flex;
    align-items: end;
    padding: 48px;
  }

  .projecto-section .plone:hover .overlay {
    width: 46%;
    opacity: 1;
  }
  .overlay-box h4{
    color: white;
  }
  .overlay-box p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 28px;
  }
  
  .overlay-box a {
    color: #FCD980;
    position: relative;
    font-weight: 400px;
    transition: 0.3s ease;
  }
  
  .overlay-box a:hover {
    color: #ffffff;
  }
  
  .overlay-box a i {
    padding-left: 16px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    color: #FCD980;
  }
  
  .overlay-box a:hover i {
    left: 100px;
    opacity: 1;
  }


  .projecto-section .plone2 {
    position: relative;
    overflow: hidden;
  }
  
  .projecto-section .plone2 .overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    opacity: 0;
    background: linear-gradient(to bottom right, #1C1E53, rgba(28, 30, 83, 0.42));
    transition: all 0.3s ease;
    z-index: 2;
  }

  .projecto-section .plone2:hover .overlay2 {
    height: 100%;
    opacity: 1;
  }
  .overlay2{
    align-content: flex-end;
    padding: 30px;

  }
  .overlay-box2 h4{
    color: white;
  }
  .overlay-box2 p {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 28px;
  }
  
  .overlay-box2 a {
    color: #FCD980;
    position: relative;
    font-weight: 400px;
    transition: 0.3s ease;
  }
  
  .overlay-box2 a:hover {
    color: #ffffff;
  }
  
  .overlay-box2 a i {
    padding-left: 16px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s ease;
    color: #FCD980;
  }
  
  .overlay-box2 a:hover i {
    left: 100px;
    opacity: 1;
  }

  /* ===== PROJECTO SECTION END ===== */
  /* ===== FUTURES SECTION START ===== */
  .futures-section{
    padding-bottom: 128px;
    padding-top: 128px;
    background: #F4F6FC;
  }

  .futures-section .fsd{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 47px;
  }

  .futures-section .fsd h2{
    width: 630px;
    margin: 0 auto;
  }
  .futures-section .card{
    padding: 58px 48px !important;
  }
  
  .futures-section .card .card-title{
    padding: 22px 0px 12px 0px !important;
  }
  .futures-section .card img{
    width: min-content;
  }

  .futures-section .card .card-body{
    padding: 0 !important;
  }
  .futures-section .row .fsmaruf{
    row-gap: 20px;
  }
  .futures-section .card{
    --bs-card-border-color: none !important;
  }
  /* ===== FUTURES SECTION END ===== */
  /* ===== CLIENT SECTION START ===== */

  .client-section{
    padding-top: 128px;
    padding-bottom: 128px;
    background-color: rgba(244, 246, 252, 0.5);

  }
  .client-section .cs-text{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .client-section .cs-box{
    width: 327px;
  }
  .client-section .cs-card{
    display: flex;
    column-gap: 20px;
    padding-top: 48px;
  }
  .client-section .cs-card img{
    width: 52px;
    height: 52px;
  }
  /* ===== CLIENT SECTION END ===== */
  /* ===== FAQ SECTION START ===== */
  .faq-section{
    padding: 128px 0px ;
  }

  .faq-section .fqp{
    color: #2405F2;
    font-size: 18px;
    font-weight: 500px;
    font-family: "Poppins", sans-serif;
    padding-top: 16px;
  }
  .faq-section .accordion-item{
    border: none !important;
    border-radius: none;
  }
  .faq-section .accordion-item h4{
    font-size: 24px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  .faq-section .accordion-item span{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-right: 50px;
    width: 30px;
    color: #2405F2;

  }
  .faq-section .accordion-body{
    padding: 16px 0px 48px 50px !important;
    border-bottom: 1px solid #ECECF1;
  }
  .faq-section .accordion-body p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #282938;
    font-family: "Poppins", sans-serif;
  }
  .faq-section .accordion-button{
    padding: 0px;
  }
  .faq-section button.accordion-button{
    background: none;
    padding-top: 0;
  }
  .faq-section .accordion-item:first-of-type>.accordion-header .accordion-button{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: none;
  }
  .faq-section button.accordion-button.collapsed{
    padding: 32px 0px;
  }
  .faq-section .accordion-button::after{
    background-image: none;
    content: "+";
    transform: none;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
  }
  .faq-section .accordion-button:not(.collapsed)::after{
    background-image: none;
    content: "x";
    transform: none;
    font-size: 30px;
    font-family: "Manrope", sans-serif;
  }
  
  /* ===== FAQ SECTION END ===== */